.alert {
  .title {
    font-weight: bold;
    font-size: 110%;
  }
  p {
    margin: 10px;
    color: black;
  }
  a {
    _color: #000;
  }
}

/*.alert-danger {
  a {
    color: #a94442;
    font-weight: bold;
  }
}*/
